<div class="container-fluid" id="data-bg">
  <div class="row justify-content-center align-items-center" style="height:100vh;">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card card-block" style="background-color: white; color: black; border-radius: 25px;">
        <div class="card-body text-center">

          <%= column_chart @data,
          title: "The weekly amount of study",
          colors: ['green'],
           suffix: "min"%>
        </div>
      </div>
    </div>
  </div>
</div>
