<div id="home-page">
      <div class="hero text-center" id="home-page-upper">
        <div class="container">
            <h1 id="welcome">Welcome to Study Tracker</h1>
            <p id="welcome">Unlock your focus and track your study time with our Pomodoro timer.</p>
        </div>
    </div>
    <section id="home-page-lower">
        <div class="container" >
            <h2 class="text-center">Start Your Pomodoro Timer</h2>
            <div class="d-flex justify-content-center">
                <%= link_to "Start Timer", new_study_record_path, class: "btn btn-secondary btn-lg" %>
            </div>
        </div>
    </section>
</div>
  