body {
    font-family: Arial, sans-serif;
   
  
}
.hero {
    padding: 50px 0;
    background:#1c1c1c; /* Darker grey background */
    color: #ffffff; /* Light text */
}
.hero h1 {
    font-size: 2.5em;
}
.hero p {
    font-size: 1.2em;
}
section {
    padding: 50px 0;
}
footer {
    padding: 20px 0;
  
}
main{
}

.timer {
  font-size: 10em;
}

/* When the screen size is less than 600px, make the timer text smaller */
@media only screen and (max-width: 600px) {
  .timer {
    font-size: 4em;
  }
}
